
#primeiro {
    background-image: url(Images/fundo-primeiro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    vertical-align: central;
    align-items: center !important;
    align-self: center;
}

#segundo {
    background-color: #006633;
    vertical-align: central;
    align-items: center;
    align-self: center;
}

#texto-meio {
    padding-top: 59px;
    color: #fff;
}

#texto-1 {
    float: right;
}

#numeros {
    min-height: 291px !important;
    min-width: 291px !important;
}

#texto-numeros {
    font-family: 'Gotham Book';
    font-size: 30px;
    stroke: #fff;
    color: #fff;
    text-align: center;
    vertical-align: central;
    align-items: center !important;
    align-self: center;
    width: 291px;
    height: 291px;
}

#linha {
    padding-top: 200px !important;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    margin-right: -4px;
}

#terceiro {
    background-image: url(Images/background-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    vertical-align: central;
    align-items: center !important;
    align-self: center;
}

#logo-bottom {
    width: 303.32px;
    height: 111px;
}

#logo-insta {
    width: 106px;
    height: 106px;
    align-items: center;
}

#logo-twitter {
    width: 119px;
    height: 119px;
    align-items: center;
}

#logo-facebook {
    width: 106px;
    align-items: center;
    height: 106px;
}

.margem {
    margin-top: 69.5px;
}

#texto-2 {
    width: 289px;
    height: 137px;
}

#bell-HW {
    width: 10px;
}

#body-fundo {
    background-image: url(Images/background-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    vertical-align: central;
    align-items: center !important;
    align-self: center;
}

#box-cadastro {
    width: auto;
    height: auto;
    min-width: 395px;
    border-color: gray;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px black solid;
    background-color: white;
}

#linha-logo {
    height: 149.9px;
    background-color: #006633;
    margin-left: auto;
    margin-right: auto;
}

#logo-branco-cadastro {
    width: 284.8px !important;
    height: 128.4px !important;
    margin-top: 9.3px;
}

#bell-icon {
    width: 24px;
    height: 24px;
}

#buttom-cadastro {
    width: 242px;
    height: 242px;
}

.borda-arredondada {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid black;
    margin: 20px 30px 30px 30px
}

#box-pontuacao {
    height: 202px !important;
    margin: 0px 2px 10px 2px;
    background-color: #006633;
    padding-top: 75px;
    font-size: x-large;
    color: white;
}