@using Jmelosegui.Mvc.GoogleMap
@model Model.Models.Pessoa

@{    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="row">
    <div class="col-md-8" id="map" style="min-height: 858px; min-width:75%;">
        @(Html.GoogleMap()
              .Name("map")
              .Height(500)
              .ApiKey("AIzaSyCxS1skBoTzMaPwY4q42MJoH5NwKmM9zKE")
              .Zoom(18)
              .Center(c => c.Address(Model.NmEndereco + " " + Model.NumEndereco + " " + Model.Cidade + ", " + Model.Estado))
        )
    </div>

    <div class="col-md-3">
        <div class="row borda-arrendoda row-centered" id="box-pontuacao" > @Html.Partial("Pontuacao")</div>
        <div class="row borda-arrendoda" style="height: 639px;margin-top: 10px;margin-left: 2px;margin-right: 2px; background-color:#006633;"></div>
    </div>
</div>
 


@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}