
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSemMenu.cshtml";
}


<div class="row row-centered">
    <div class="col-md-6 col-centered" id="box-cadastro" style="height: 550px;padding-left: 0px;padding-right: 0px; width:400px !important;">
        <div class="row row-centered" id="linha-logo">
            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Images/logo-branco.svg")" id="logo-branco-cadastro" /></a>
        </div>
        <div class="row" style="margin-top:77.3px; margin-bottom:77.3px;">


        </div>
    </div>

    <div class="col-md-6 col-centered" id="box-cadastro" style="height: 550px;padding-left: 0px;padding-right: 0px; text-align:left !important;width:400px !important;">
        <div class="row row-centered" id="linha-logo">
            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Images/logo-branco.svg")" id="logo-branco-cadastro" /></a>
        </div>
        <div class="row" style="margin-top:77.3px; margin-bottom:77.3px;">



        </div>
    </div>
</div>

